# Webhook
WEBHOOK_URL=
NEXT_PUBLIC_WEBHOOK_URL=

# Supabase (CMS + Auth)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# JWT
JWT_SECRET=

# Vercel (for CI/CD)
VERCEL_ORG_ID=
VERCEL_PROJECT_ID=
VERCEL_TOKEN=
